<div class="contenedor">
  Valora el truñasco
  <div>
    <ion-icon color="primary" *ngFor="let index of [1,2,3,4,5]" style="margin-right: 0.5em;height: 1.5em;width: 1.5em;"
      [name]="index <= puntuacion?  'star': 'star-outline'"
      (click)="puntuacion = puntuacion !== index ? index: index-1">
    </ion-icon>
  </div>
  <div>
    <ion-icon color="primary" *ngFor="let index of [1,2,3,4,5]" style="margin-right: 0.5em;height: 1.5em;width: 1.5em;"
      [name]="index <= puntuacion?  'star': 'star-outline'"
      (click)="puntuacion = puntuacion !== index ? index: index-1">
    </ion-icon>
  </div>
  <div>
    <ion-icon color="primary" *ngFor="let index of [1,2,3,4,5]" style="margin-right: 0.5em;height: 1.5em;width: 1.5em;"
      [name]="index <= puntuacion?  'star': 'star-outline'"
      (click)="puntuacion = puntuacion !== index ? index: index-1">
    </ion-icon>
  </div>
  <div>
    <ion-icon color="primary" *ngFor="let index of [1,2,3,4,5]" style="margin-right: 0.5em;height: 1.5em;width: 1.5em;"
      [name]="index <= puntuacion?  'star': 'star-outline'"
      (click)="puntuacion = puntuacion !== index ? index: index-1">
    </ion-icon>
  </div>
  <div>
    <ion-icon color="primary" *ngFor="let index of [1,2,3,4,5]" style="margin-right: 0.5em;height: 1.5em;width: 1.5em;"
      [name]="index <= puntuacion?  'star': 'star-outline'"
      (click)="puntuacion = puntuacion !== index ? index: index-1">
    </ion-icon>
  </div>

</div>
