<div class="cont-flotante">
  <div class="bocadillo" [hidden]="this.selectedVater.name">
    <ion-input class="input" [(ngModel)]="search"></ion-input>

    <ion-button class="btn" (click)="onClickNewVaterMarcker()">
      <ion-icon class="icon" name="add-outline" size="large"></ion-icon>
    </ion-button>

  </div>
</div>


<div id="map" #map class="mapa">
</div>



<div #info [hidden]="!this.selectedVater.name" class="contInfo">
  <div> {{selectedVater.name }} </div>
  <div> {{selectedVater.locality}} </div>
  <div style=" min-height: 2.3em;"> {{selectedVater.descripcion}}</div>
  <div>
    <ion-icon color="primary" *ngFor="let index of [1,2,3,4,5]" style="margin-right: 0.5em;height: 1.5em;width: 1.5em;"
      [name]="index <= selectedVater.puntuacion?  'star': 'star-outline'"
      (click)="selectedVater.puntuacion = selectedVater.puntuacion !== index ? index: index-1">
    </ion-icon>
  </div>
  <div class="contBtn">
    <ion-button class="btn" (click)="onClickNav({lat: this.selectedVater.lat,  lng:this.selectedVater.lng})">
      puedo llegar!
    </ion-button>
  </div>
</div>



<div *ngIf="newVaterMarker  && newVaterMarker.embebedObject.administrativeArea" class="contInfo">
  <div> {{newVaterMarker.embebedObject.locality }} - {{newVaterMarker.embebedObject.administrativeArea}} </div>
  <div style=" min-height: 2.3em;"> {{newVaterMarker.embebedObject.thoroughfare}}
    {{newVaterMarker.embebedObject.subThoroughfare}}</div>
  <div class="contBtn">
    <ion-button class="btn" (click)="onClickNewVater()">comparte cagadero
    </ion-button>
  </div>
</div>
