<ion-header>
  <ion-toolbar>
    <ion-title>cagadero 'nuevo'</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item lines="none">
    <ion-label>
      nombre
    </ion-label>
    <ion-input [(ngModel)]="this.newMarker.embebedObject['name']" class="ion-text-center">
    </ion-input>
  </ion-item>

  <ion-item lines="none" class="ion-text-start">
    <ion-label>
      Ciudad
    </ion-label>
    <!--     <ion-input [(ngModel)]="this.newMarker.embebedObject.locality" class="ion-text-center">
    </ion-input> -->
    <ion-input class="ion-text-center" [(ngModel)]="this.newMarker.embebedObject['direccion']">

    </ion-input>
  </ion-item>

  <ion-item lines="none">
    Descripción
  </ion-item>
  <ion-textarea rows="10" style="--padding-top:0em" [(ngModel)]="this.newMarker.embebedObject['descripcion']">
  </ion-textarea>



  <img *ngIf="foto" [src]="cab64 + foto">


  <ion-button class="btn" (click)="insertDB()">guardar</ion-button>
  <ion-button class="btn" (click)="launchTakeFoto()">foto</ion-button>
  <ion-button class="btn" (click)="close()">cerrar</ion-button>

</ion-content>
